{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title"><U>{{ object.name }}</U> </h3>
        <p class="text-danger">{{object.artType}}</p>
        <p class="text-info">{{ object.description }} </p>
        <p>{{ object.pub_date }} </p>
    </div>
    <p scope="row"><a href="{% url 'artwork-update' artwork.pk %}">Update</a></p>
    <p scope="row"><a href="{% url 'artwork-delete' artwork.pk %}">Delete</a></p>
</div>
{% endblock %}