{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    </thead>
    <tbody>
        {% for artwork in object_list %}
        <tr>
            <th scope="row"><a href="{% url 'artwork-detail' artwork.pk %}">{{ artwork.name }}</a></th>
            <th scope="row"><p>{{ artwork.artType }} </p></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}