{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <th scope="col">Name</th>
        </thead>
        <tbody>
        {% for character in object_list %}
            <tr>
                <th scope="row"><a href="{% url 'character-detail' character.pk %}">{{ character.name }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}