{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><U>{{ object.name }}</U></h3>
            <p class="text-danger">de : {{object.artwork.name}}</p>
            <p class="text-info">{{ object.description }} </p>
        </div>
        <p scope="row"><a href="{% url 'character-update' character.pk %}">Update</a></p>
        <p scope="row"><a href="{% url 'character-delete' character.pk %}">Delete</a></p>
    </div>
{% endblock %}